footer {
    display: flex;
    height: 4em;
    width: 100%;
    background-color: rgba(152, 204, 211, 0.9);
    color: black;
    justify-content: space-between;
    color:#132238;

    #credits {
        padding: 1em;
        font-style: italic;
        font-size: 1.2em;
    }

    #cf {
        padding-right:1em;
        margin-top:0.2em;
        font-weight: bold;
        font-size: 2em;

    }
}