footer {
    display: flex;
    height: 5.5em;
    width: 100%;
    background-color: rgba(152, 204, 211, 0.9);
    color: black;
    justify-content: space-between;
    color:#132238;

    #credits {
        text-align: center;
        padding: 0.5em 1em;
        font-style: italic;
        font-size: 1.4em;
    }

    #cf {
        padding-right:1em;
        margin-top:0.2em;
        font-weight: bold;
        font-size: 1.5em;
    }

    img {
        width: 40px;

    }
    p{
        font-size: 0.65em;
        font-weight: 500;

    }
}