#content{
	width: 70%;
	margin: auto;
	min-height:400px; 

	border: 1px solid rgba(152, 204, 211, 0.5);
	border-radius: 5px;
	background-color: rgb(235,240,246);
	color:#132238;

	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
