main{
	width: 85%;
	margin: auto;	
}
#collapseForm{
	width: 80%;
	margin: auto;
}
#list-container{
	width: 80%;
	margin: auto;
	min-height:500px; 

	border: 1px solid rgba(152, 204, 211, 0.5);
	border-radius: 5px;
	background-color: rgb(238,246,248);
}