#form-container{
	text-align: center;
	display: flex;
	flex-direction: column;
	align-content: center;
	width: 200px;
	margin: auto;
	border: 1px solid #3b5053;

	#user::placeholder {
		text-align: center;
	}

	#pass::placeholder {
		text-align: center;
	}

	#message {
		height: 1.5em;
		font-weight: bold;
		text-align: center;
	}


}
#logo{
	width: 50px;
	margin:20px 160px 20px ;

}
label{
	margin-bottom: 10px;
}