#form-container{
	color:#132238;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items : center;
	width: 90%;
	min-height:400px; 
	margin: auto;
	border: 1px solid rgba(152, 204, 211, 0.5);
	border-radius: 5px;
	background-color: rgb(235,240,246);
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

	#user::placeholder {
		text-align: center;
	}

	#pass::placeholder {
		text-align: center;
	}

	#message {
		height: 1.5em;
		font-weight: bold;
		text-align: center;
	}

	#routerButton {
		display: none;
	}


}
#logo{
	width: 50px;
	margin-bottom: 30px;

}

#content{
	margin: auto;
	width: 400px;
	min-height:450px; 
}
