#content-table {
  margin: auto;
  min-height: 500px;

  border: 1px solid rgba(152, 204, 211, 0.5);
  border-radius: 5px;
  background-color: rgb(238, 246, 248);
}

#content {
  width: 70%;
  margin: auto;
}
